<div>
  <nz-table #basicTable [nzScroll]="{ y: '500px' } " [nzTotal]="pageData.total" [(nzPageIndex)]="pageData.pageNumber"
    [(nzPageSize)]="pageData.pageSize" [nzFrontPagination]="false" [nzShowPagination]="true" nzShowSizeChanger
    nzShowTotal [nzLoading]="loading" nzTitle="模板列表" (nzPageIndexChange)="IndeChange($event)"
    (nzPageSizeChange)="SizeChange($event)" [nzData]="pageData.datas">
    <thead>
      <tr>
        <th nzWidth="200px">模板名称</th>
        <th nzWidth="30vw">模板地址</th>
        <th nzRight="0px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td nzLeft="0px">{{data.templateName}}</td>
        <td nzLeft="200px">{{data.templatePath}}</td>
        <td nzRight="0px">
          <label *ngIf="isController === true"><a (click)="select(data)">选择</a>
            <nz-divider nzType="vertical"></nz-divider>
          </label>
          <a (click)="this.check(data)">查看 </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data.id)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-modal nzWidth="80vw" [(nzVisible)]=" this.showTemplate " nzTitle="选择模板"  (nzOnCancel)="this.showTemplate = false"
    (nzOnOk)="okCallBack()">
    <app-template-pre [template]="this.currentTemplate"></app-template-pre>
  </nz-modal>
</div>