:host ::ng-deep .alain-default__header {
    height: 30px;
}

:host ::ng-deep .alain-default__aside {
    width: 350px;
    margin-top: 30px;
}

:host ::ng-deep .alain-default__content {
    margin-top: 30px;
    margin-left: 375px;
}

:host ::ng-deep .reuse-tab {
    top: 30px;
    left: 375px;
}