<nz-table #basicTable [nzData]="pageData.datas">
  <thead>
    <tr>
      <th>项目名称</th>
      <th>生成模式</th>
      <th>作者</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.projectName}}</td>
      <td>{{data.generatorMode}}</td>
      <td>{{data.author}}</td>
      <td>
        <a>生成 一 {{data.projectName}}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>编辑 一 {{data.projectName}}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>