<div>
  <div nz-row [nzGutter]="30" nzType='flex' nzJustify="start">
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="4">
      <nz-card nzTitle="新建项目" nzHoverable [nzCover]="addProject" (click)="newProject()">
        <nz-card-meta nzTitle="新建" nzDescription="添加一个新的项目"></nz-card-meta>
      </nz-card>
      <ng-template #addProject>
        <img alt=" 添加项目" src="./assets/images/plus.png" />
      </ng-template>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="4">
      <nz-card nzTitle="查看所有项目" nzHoverable [nzCover]="listTemplate" (click)="projectList()">
        <nz-card-meta nzTitle="查看" nzDescription="所有项目列表"></nz-card-meta>
      </nz-card>
      <ng-template #listTemplate>
        <img alt="查看所有项目" src="./assets/images/list.png" />
      </ng-template>
    </div>
  </div>
</div>
