<nz-spin *ngIf="!dataSource" class="modal-spin"></nz-spin>
<sf #sf *ngIf="dataSource" #sf mode="default" [ui]="ui" [schema]="schema" [formData]="ds" (formChange)="change($event)" button="none">
  <ng-template sf-template="connectionString" let-me let-ui="ui" let-schema="schema">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
      <input
        nz-input
        [attr.id]="me.id"
        [disabled]="me.disabled"
        [attr.disabled]="me.disabled"
        [nzSize]="ui.size"
        [ngModel]="me.formProperty.value"
        (ngModelChange)="me.setValue($event)"
      />
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" (click)="checkConnection()">检查连接</button>
      <!-- <button nz-button>预览</button> -->
    </ng-template>
  </ng-template>
</sf>
<fb-tableinfo
  *ngIf="tableInfos"
  [Style]="{
    'overflow-y': 'scroll',
    'max-height': '300px'
  }"
  [Datas]="tableInfos"
></fb-tableinfo>
