<ul nz-menu  nzTheme="dark"  nzMode="horizontal">
  <li nz-menu-item nzSelected [routerLink]="['/home']">
    <i nz-icon nzType="play-circle" nzTheme="outline"></i>
    快速开始
  </li>
  <li nz-submenu nzTitle='配置相关' nzIcon="setting">
    <ul>
      <li nz-menu-group nzTitle="项目管理" nzIcon='bars'>
        <ul>
          <li nz-menu-item  [routerLink]="['/project/home']">
            <i nz-icon nzType="book"></i>
            所有项目
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="模板管理" nzIcon="bars">
        <ul>
          <li nz-menu-item [routerLink]="['/template/list']" >
            <i nz-icon nzType="file-text" ></i>
            所有模板
          </li>
        </ul>
      </li>
    </ul>
</ul>