<nz-steps [nzCurrent]="current" nzSize="default">
  <nz-step nzTitle="项目基本信息填写"></nz-step>
  <nz-step nzTitle="模式选择"></nz-step>
  <nz-step nzTitle="表构建器参数填写"></nz-step>
  <nz-step nzTitle="全表构建器参数填写"></nz-step>
  <nz-step nzTitle="生成"></nz-step>
  <nz-step nzTitle="查看代码"></nz-step>
</nz-steps>
<div class="steps-content">
  <app-project-info [projectId]="this.projectId" (callBack)="callBack($event)" *ngIf="current === 0">
  </app-project-info>
  <app-generator-mode [project]="this.project" (callBack)="callBack($event)" *ngIf="current === 1">
  </app-generator-mode>
  <app-builder-container *ngIf="current === 2" (callBack)="builderCallBack($event)" [builders]="this.project.builders"
    [projectid]="this.projectId" [type]="0">
  </app-builder-container>
  <app-builder-container *ngIf="current === 3" [builders]="this.project.globalBuilders" [projectid]="this.projectId"
    [type]="1">
  </app-builder-container>
  <app-build-task (callBack)="IsFinish($event)" *ngIf="current === 4" [projectid]="this.projectId">
  </app-build-task>
  <div *ngIf="current === 5">
    <h3>生成成功 生成路径为：{{this.getCodePath()}}</h3>
  </div>
</div>
<div nz-col class="steps-action">
  <nz-button-group [nzSize]="large">
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0 && current !== 5"><i nz-icon
        nzType="left"></i>上一步</button>
    <button nz-button nzType="primary" (click)="next()" *ngIf="this.currentFinish[this.current] &&current < 6">下一步<i
        nz-icon nzType="right"></i></button>
    <button nz-button nzType="primary" [nzSize]="large" class="stepbtn" (click)="finished()" *ngIf="current === 5"><i
        nz-icon nzType="check" nzTheme="outline"></i>完成 </button>
  </nz-button-group>

</div>