<nz-table #dynamicTable [nzScroll]="{ y: '500px' }" nzBordered="true" [nzData]="listOfData">
  <thead>
    <tr>
      <th nzWidth="100px">属性</th>
      <th nzWidth="8vw">表名</th>
      <th nzWidth="8vw">名称</th>
      <th nzWidth="10vw">备注</th>
      <th nzWidth="8vw">主键</th>
      <th nzRight="0px">操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="dynamicTable.data">
      <tr>
        <td nzBreakWord nzLeft="0px" nzShowExpand [(nzExpand)]="mapOfExpandData[data.csName]"></td>
        <td nzBreakWord nzLeft="100px">{{ data.dbName }}</td>
        <td nzBreakWord>{{ data.csName }}</td>
        <td nzBreakWord>{{ data.comment }}</td>
        <td nzBreakWord>{{ getPkName(data)}}</td>
        <td nzBreakWord nzRight="0px">
          <a (click)="ignoreTable(data)">{{getTypeBtnText(data)}}</a>
        </td>
      </tr>
      <tr [nzExpand]="mapOfExpandData[data.csName]">
        <td></td>
        <td colspan="5">
          <nz-card [nzBordered]="false" nzTitle="表属性">
            <p *ngFor="let item of data.columnsByCs">
              <label class="lblCol">名称:{{item.csName}} </label>
              <nz-divider nzType="vertical"></nz-divider>
              <label class="lblCol">数据库类型: {{ item.dbTypeText}}</label>
              <nz-divider nzType="vertical"></nz-divider>
            </p>
          </nz-card>
          <!-- <nz-card [nzBordered]="false" [nzTitle]="'导航属性'">
            <p *ngFor="let item of data.navigateInfos">
              <label class="lblCol">名称:{{item.columnName}} </label>
              <nz-divider nzType="vertical"></nz-divider>
              <label class="lblCol">导航类型:{{ item.csType }}</label>
              <nz-divider nzType="vertical"></nz-divider>
            </p>
          </nz-card> -->
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>