<nz-table #dynamicTable [nzScroll]="{ y: '500px' }" nzBordered="true" [nzData]="listOfData">
  <thead>
    <tr>
      <th nzWidth="100px">属性</th>
      <th nzWidth="8vw">表名</th>
      <th nzWidth="8vw">名称</th>
      <th nzWidth="10vw">备注</th>
      <th nzWidth="10vw">命名空间</th>
      <th nzWidth="8vw">主键类型</th>
      <th nzRight="0px">操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="dynamicTable.data">
      <tr>
        <td nzBreakWord nzLeft="0px" nzShowExpand [(nzExpand)]="mapOfExpandData[data.name]"></td>
        <td nzBreakWord nzLeft="100px">{{ data.dbTableName }}</td>
        <td nzBreakWord>{{ data.name }}</td>
        <td nzBreakWord>{{ data.comment }}</td>
        <td nzBreakWord>{{ data.nameSpace }}</td>
        <td nzBreakWord>{{ data.primaryTypeName }}</td>
        <td nzBreakWord nzRight="0px">
          <a (click)="ignoreTable(data)">{{data.isIgnore?'恢复':'忽略'}}</a>
        </td>
      </tr>
      <tr [nzExpand]="mapOfExpandData[data.name]">
        <td></td>
        <td colspan="7">
          <nz-card [nzBordered]="false" nzTitle="表属性">
            <p *ngFor="let item of data.columnInfos">
              <label class="lblCol">名称:{{item.columnName}} </label>
              <nz-divider nzType="vertical"></nz-divider>
              <label class="lblCol">数据库名称: {{ item.dbColumnName }}</label>
              <nz-divider nzType="vertical"></nz-divider>
              <label class="lblCol">Csharp类型: {{ item.csType }}</label>
              <nz-divider nzType="vertical"></nz-divider>
            </p>
          </nz-card>
          <nz-card [nzBordered]="false" [nzTitle]="'导航属性'">
            <p *ngFor="let item of data.navigateInfos">
              <label class="lblCol">名称:{{item.columnName}} </label>
              <nz-divider nzType="vertical"></nz-divider>
              <label class="lblCol">导航类型:{{ item.csType }}</label>
              <nz-divider nzType="vertical"></nz-divider>
            </p>
          </nz-card>
        </td>
        <td></td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>