<div class="modal-header">
  <div class="modal-title">{{ Title }}</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<sf *ngIf="i" #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="i" (formSubmit)="save($event)">
  <div class="modal-footer">
    <!-- <button nz-button type="button" (click)="close()">关闭</button> -->
    <!-- <button nz-button type="submit" nzType="primary" (click)="save()" [disabled]="!sf.valid">保存</button> -->
  </div>
</sf>
<ng-template #moreConfig>
  <a (click)="newConfig()">新增配置</a>
</ng-template>
